<div class="container">
  <h1>-Stupid Coaching-</h1>

  <form action="<%= answer_path %>" method="get">
    <input id="input1" type="text" name="asked" placeholder="questions?">
    <input id="input2" type="submit">
  </form>
</div>
